alembic==1.7.7
certifi==2022.6.15
charset-normalizer==2.1.0
click==8.0.4
colorama==0.4.4
dnspython==2.2.1
email-validator==1.2.1
Flask==2.0.3
Flask-Login==0.6.2
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet==1.1.2
idna==3.3
ipaddress==1.0.23
itsdangerous==2.1.1
Jinja2==3.0.3
Mako==1.2.0
MarkupSafe==2.1.1
numpy==1.23.4
pandas==1.5.1
pycomm3==1.2.6
pylogix==0.7.16
python-dateutil==2.8.2
pytz==2022.6
regex==2022.7.25
requests==2.28.1
six==1.16.0
slugify==0.0.1
SQLAlchemy==1.4.32
thread6==0.2.0
# Editable install with no version control (ugeeapp==0.0.0)
-e c:\users\administrator\desktop\python
urllib3==1.26.11
uuid==1.30
Werkzeug==2.0.3
wfastcgi==3.0.0
WTForms==3.0.1
XlsxWriter==3.0.3
