<?xml version="1.0" encoding="utf-8"?>
     <configuration>
     <system.webServer>
       <handlers>
            <add name="python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\Administrator\Desktop\PYTHON\dist\sammie.exe" resourceType="Unspecified" />
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\Desktop\PYTHON\virtual\Scripts\python. istrator\Desktop\PYTHON\virtual\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
       </handlers>
     </system.webServer>
     <appSettings>
       <!-- Required settings -->
       <add key="WSGI_HANDLER" value="ugeeapp.app" />
       <add key="PYTHONPATH" value="C:\Users\Administrator\Desktop\PYTHON" />
     </appSettings>
     </configuration>
