{% extends 'public/baseview.html' %}

{% block content %}

<div class="container">
	<div class="row align-items-center justify-content-center">
		<div class="col-md-12">
								<div class="login100-form-logo text-center">
									
									<div class="text-center" style="color:white;background: #179cd7;">Provide your UGEE account username</div>
								</div>
		</div>

		<div class="col-md-6 " style="backgound: red;">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-8">
					<form id="resetPasswordForm" style="margin-top:20px" method="POST" action="">
						{{ form.csrf_token }}
						<div class="row">
							<div class="col-md-12">
								<span class="login100-form-logo">
									<i class="fas fa-landscape"></i>
									<span style="color:black;background: white;">{{resp}}</span>
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
                        		<div class='form-group'>                        			
                        			{{form.username(class="form-control")}}
                        		</div>
                    		</div>
                		</div>
                		<div class="row">
							<div class="col-md-12">
                        		<div class='form-group'>                        			
                        			{{form.password(class="form-control")}}
                        		</div>
                    		</div>
                		</div>
                		
						<div class="row align-items-center justify-content-center">    
                    		<div class="col-md-6">                    
                        		<div class='form-group'>
                            		{{form.submit(class="btn btn-info")}} 
                            		<a href="/" style="text-decoration: none;"><span><samll style="font-size: 9px;">Back to Home</samll></span></a>
                        		</div>
                    		</div>
						</div>
					</form>
				</div>
				
			</div>
		</div>
		
	</div>
</div>

{% endblock %}

{% block tail %}

<script type="text/javascript">
    
</script>

{% endblock %}
