{% extends 'public/base.html' %}



{% block content %} 

<div class="container">
	<div class="row align-items-center justify-content-center">
		<div class="col-md-12">
			<div class="login100-form-logo align-items-center justify-content-center">
									
				<div class="text-center" style="color:white;background: #179cd7;">
					WELCOME TO MY e_LEARNING
				</div>
			</div>
		</div>
		<div class="col-md-12 " style="backgound: red;">
			<div class="row">
				<div class="col-md-12">
					<form id="" style="margin-top:20px" method="POST" action="/e_learning?action=PROCESS-DATA" enctype = "multipart/form-data">
						
						<div class="row align-items-center justify-content-center">
							<div class="col-md-12 head1">
								<span class="login100-form-logo">
									{% if resp %}
									<div style="colr: #000;backgound: #179CD7;">
											{{resp}}
									</div>
									{% else %}
									<span style="color: #000;background: #179CD7;">Add Training</span>
									{% endif %}
								</span>
							</div>							
						</div>

						<div class="row">
							<div class="col-md-8">
                        		<div class='form-group'>
                        			<label>Title</label>
                        			<input type="text" name="title" id="title" class="form-control" required>
                        		</div>
                    		</div>
                    		<div class="col-md-4">
                        		<div class='form-group'>
                        			<label>Department</label>
                        			<select class="form-control" id="depart" name="depart" required>
                        				<option value="">Select</option>
                        			{% for depart in department %}
                        			{%if depart.abbr == 'HS&E'%}
                        			<option value='SAFETY'>{{depart.abbr}}
                        				</option>
                        			{% else %}
                        				<option value='{{depart.abbr}}'>{{depart.abbr}}
                        				</option>
                        			{% endif %}
                        			{% endfor %}
                        			</select>
                        		</div>
                    		</div>		                    		                    		
                		</div>
                		<div class="row">
							<div class="col-md-4">
                        		<div class='form-group'>
                        			<label>Trainer/Qualifier</label>
                        			<select class="form-control" id="owner" name="owner" required>
                        				<option value="">Select</option>                        				
                        			</select>
                        		</div>
                    		</div>
                    		<div class="col-md-2">
                        		<div class='form-group'>
                        			<label>Expiry</label>
                        			<select class="form-control" id="exp" name="exp" required>
                        				<option value="">Select</option>
                        				<option value=0>Never</option>
                        				<option value=1>1 Year</option>
                        				<option value=2>2 Years</option>
                        				<option value=3>3 Years</option>
                        				<option value=4>4 Years</option>
                        				<option value=5>5 Years</option>
                        			</select>
                        		</div>
                    		</div>
                    		<div class="col-md-2">
                        		<div class='form-group'>
                        			<label>Priority</label>
                        			<select class="form-control" id="prio" name="prio" required>
                        				<option value="">Select</option>
                        				<option value="M">M</option>
                        				<option value="A">A</option>
                        				<!--<option value="B">B</option> -->                  				
                        			</select>
                        		</div>
                    		</div>
                    		<div class="col-md-2">
                        		<div class='form-group'>
                        			<label>SUC?</label>
                        			<select class="form-control" id="suc" name="suc" required onchange="checksuc(this)">
                        				<option value="">Select</option>
                        				<option value=0>Not Required</option>
                        				<option value=1>SUC only</option>
                        				<option value=2>Required</option>                  				
                        			</select>
                        		</div>
                    		</div>
                    		<div class="col-md-2" id="pasmk-div">
                        		<div class='form-group'>
                        			<label>Pass Mark</label>
                        			<input type="number" name="pasmk" id="pasmk" class="form-control">
                        		</div>
                    		</div>		                    		                    		
                		</div>
                		<div class="row align-items-center justify-content-center">
							<div class="col-md-4" id="material-div">
                        		<div class='form-group'>
                        			<label>Training Material</label>
                        			<input type="file" id="material" name="main_obj" class="form-control" accept=".csv, .xls, .xlsx, .doc, .ppt, .pdf, .txt" >
                        		</div>
                    		</div>
                    		<div class="col-md-4" id="suc-div" style="display: none;">
                        		<div class='form-group'>
                        			<label>Upload SUC</label>
                        			<input type="file" id="succ" name="suc_obj" accept=".csv, .xls, .xlsx, .doc, .ppt, .pdf, .txt" class="form-control">
                        			                       			
                        		</div>
                    		</div>
                    	<!--	<div class="col-md-6">
                        		<div class='form-group'>
                        			<label>Quiz Link</label>
                        			<select class="form-control" id="quiz" name="quiz" required>
                        				<option value=0>Select</option>
                        				
                        			</select>                       			
                        		</div>
                    		</div>                    		                    		
                    		<div class="col-md-6">
                        		<div class='form-group'>
                        			<label>Other Usefull Documents</label>
                        			<input type="file" id="other_file" name="other_file" class="form-control" accept=".csv, .xls, .xlsx, .doc, .ppt, .pdf, .txt" style="bakground-color: lavenda" multiple>                       			
                        		</div>
                    		</div>
                    	-->

                    		<div class="col-md-4">                    
                        		<div class='form-group'>
                            		<button class="btn btn-sm btn-info" type="submit" onclick="addTrainin()"> Submit</button>
                        		</div>
                    		</div>		                    		                    		
                		</div>
                		        
					</form>
				</div>
				
			</div>
		</div>
		
	</div>
	{% if enteries %}
	
	
    {% endif %}            
</div>

{% endblock %}

{% block tail %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">

//this function populates the qualifier field with data/

fetch(`/e_learning?action=${'FETCH-USERS'}`)
                    .then(function (response) {
                            return response.json();
                        }).then(function (text) {
                                
                                $('#owner').append(text.data);
                            })

//this function will validate the form entries and post to backend for processing

function addTraining()
{
	var title = $('#title').val();
	var department = $('#depart').find(":selected").val();
	var owner = $('#owner').find(":selected").val();
	var exp = $('#exp').find(":selected").val();
	var quiz = $('#quiz').find(":selected").val();
	var main = $('#material').val();
	var suc = $('#suc').find(":selected").val();
	var other = $('#other_file').val();

	//validate input
	if (!title){alert("Provide title");return false;}
	if (department == 0){alert("Select department");return false;}
	if (owner == 0){alert("Select Qualifier/Trainer");return false;}
	if (!main){alert("Upload main training document");return false;}
	if (quiz == 0){alert("Select Qualifier Link");return false;}
	if (!suc){alert("Select whether SUC is required for this training or not");return false;}
}

function checksuc(selector)
{
	var suc = $(selector).children(':selected').val();
	if (suc == 1) //only stepup card required
	{
		$('#pasmk-div').css('display','none');
		$('#suc-div').css('display','block');		
	} else if (suc == 2) //stepup card and quiz
	{
		$('#suc-div').css('display','block');
		$('#pasmk-div').css('display','block');
		
	} else //stepup card not required
	{
		$('#suc-div').css('display','none');
		$('#pasmk-div').css('display','block');		
	}
}

</script>

{% endblock %}

