{% extends 'public/base.html' %}

{% block content %}
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
            <div class="login100-form-logo align-items-center justify-content-center">
                <div class="text-center" style="color:white;background: #179cd7;">
                    VIEW EXPIRING TRAININGS
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12"> 
                <label class="alert alert-info">Filter Expiring Trainings</label>
            </div>
            
            <div class="col-md-3">
                <div class='form-group'>
                    <label>Time Period</label>
                    <select class="form-control time-period" onchange="getExpiringData('time_period')">
                        <option value="30">Within 30 days</option>
                        <option value="60">Within 60 days</option>
                        <option value="90">Within 90 days</option>
                        <option value="180">Within 180 days</option>
                        <option value="expired">Expired Only</option>
                    </select>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class='form-group'>
                    <label>Department</label>
                    <select class="form-control depart" onchange="getExpiringData('department')">
                        <option value="all">All Departments</option>
                        <option value="SAFETY">SAFETY</option>
                        <option value="QUALITY">QUALITY</option>
                        <option value="HR">HR</option>
                        <option value="PSG">PSG</option>
                        <option value="MSG">MSG</option>
                        <option value="WHSE">WHSE</option>
                        <option value="STR_ROOM">STR_ROOM</option>
                        <option value="IT">IT</option>
                        <option value="FINANCE">FINANCE</option>
                    </select>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class='form-group'>
                    <label>Priority</label>
                    <select class="form-control prio" onchange="getExpiringData('priority')">
                        <option value="all">All Priorities</option>
                        <option value="M">M</option>
                        <option value="A">A</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="col-md-12"><hr style="border: solid 2px #179cd7;"></div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    Showing trainings expiring within <span class="time-period-display">30</span> days
                    <span class="pull-right">Total: <span class="total-count">0</span> records</span>
                </div>
            </div>
            
            <div class="col-md-12" id="expiring-items">
                <!-- Training items will be loaded here via JavaScript -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block tail %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    function getExpiringData(filter) {
        var time_period = $('.time-period').val();
        var department = $('.depart').val();
        var priority = $('.prio').val();
        
        // Update the displayed time period
        $('.time-period-display').text(time_period === 'all' ? 'all time' : time_period);
        
        const update = {
            filter: filter,
            time_period: time_period,
            department: department,
            priority: priority
        };

        const options = {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(update),
        };

        fetch(`/e_learning?action=${'FETCH-EXPIRING-TRAININGS'}`, options)
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                $('#expiring-items').html(data.html);
                $('.total-count').text(data.count);
            });
    }
    
    // Load initial data
    getExpiringData('init');
</script>
{% endblock %}