{% extends 'public/base.html' %}



{% block content %}

<div class="container">
	<div class="row align-items-center justify-content-center">
		<div class="col-md-12">
			<div class="login100-form-logo align-items-center justify-content-center">
									
				<div class="text-center" style="color:white;background: #179cd7;">
					WELCOME TO MY e_LEARNING
				</div>
			</div>
		</div>		
		
	        
		<div class="col-md-12">
			<hr style="border: solid 2px #179cd7;">
		</div>
		<div class="row">
			<div class="col-md-12" id="tr-items">
				
			</div>
		</div>		
		
	</div>
	{% if enteries %}
	
	
    {% endif %}            
</div>

{% endblock %}

{% block tail %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">


function getData(filter)
{
				var value;

				if (filter == 'all')
				{
					value = 'all';
				} else if (filter == 'priority')
				{
					value = $('.prio').val();
				} else if (filter == 'department')
				{
					value = $('.depart').val();
				} else if (filter == 'completion')
				{
					value = $('.complit').val();
				}else if (filter == 'user')
				{
					value = $('.user').val();
				}
				const update = {
								filter: filter,
								value: value,       									
							};

			    const options = {
			                    	method: 'POST',
			                    	headers: {'Content-Type': 'application/json',},
			                    	body: JSON.stringify(update),
			                };

                fetch(`/e_learning?action=${'FETCH-TRAININGS'}`,options)
                    .then(function (response) {
                            return response.json();
                        }).then(function (text) {
                                
                                $('#tr-items').html(text.data);
                                $('.all').html(text.all);
                                $('.prio_m').html(text.man);
                                $('.prio_a').html(text.pa);
                                //$('.prio_b').html(text.pb);
                            })
}
getData('all');


</script>

{% endblock %}

