{% extends 'public/base.html' %}



{% block content %}

<div class="container">
	<div class="row align-items-center justify-content-center">
		<div class="col-md-12">
			<div class="login100-form-logo align-items-center justify-content-center">
									
				<div class="text-center" style="color:white;background: #179cd7;">
					WELCOME TO MY e_LEARNING
				</div>
			</div>
		</div><hr>
		<div class="col-md-12">
		<div class="col-md-12" style="margin-bottom:10px">
            <img src="/static/documents/e_learning/page_images/Pest_Control.PNG" height="200px" width="100%">
        </div>			
		</div>
		<div class="col-md-12 " style="backgound: red;">
			<div class="row">
				<div class="col-md-10">
					<form id="" style="margin-top:20px" method="POST" action="">		
						
						<div class="row align-items-center justify-content-center v1">
							<div class="col-md-12">
                        		<div class='form-group'>
                        			<div>INSTRUCTIONS:</div>                       			
                        			<p>Before you proceed with this quiz, ensure you</p>
                        			<ol>                        				
                        				<li>Download the course outline by clicking on the link provided in your skills matrix page</li>
                        				<li>Open the outline from your device</li>
                        				<li>Study the outline thoroughly</li>
                        				<li>Then return here to attempt this quiz.</li>
                        				<li>You are expected to score at least <span style="color:#179cd7;">{{pass_mark}}%</span> to pass this course.</li>
                        			</ol>

                        		</div>
                    		</div>
                    		<div class="col-md-4">
                        		<div class='form-group'>
                        			<button type="button" class="btn btn-secondary" onclick="getView1()">Start Quiz</button>
                        		</div>
                    		</div>            		
                		</div>
                		<div class="row align-items-center justify-content-center v2" style="display:none;">
							<div class="col-md-12">
                        		<div class='form-group'>
                        			1. Why do we want to Keep pests out of our building/operations? Select all that apply. 
                        		</div>
                    		</div>
                    		<div class="col-md-12">
                        		<div class='form-group'>
                        			<input type="checkbox" style="margin-right: 10px; margin-left: 20px;" name="q1" class="" id="q11" value=0.25>a. To protect our products from the infestations and damage caused by the pests <br>

                        			<input type="checkbox" style="margin-right: 10px;margin-left: 20px;" name="q1" class="" id="q12" value=0>b. To protect the people from the infections and damage caused by the pests <br>

                        			<input type="checkbox" style="margin-right: 10px;margin-left: 20px;" name="q1" class="" id="q13" value=0.25>c. Company's and regulatory compliance  <br>

                        			<input type="checkbox" style="margin-right: 10px;margin-left: 20px;" name="q1" class="" id="q14" value=0.25>d. To protect the consumer  

                        		</div>
                    		</div>
                    		<div class="col-md-4">
                        		<div class='form-group'>
                        			<button type="button" class="btn btn-success" onclick="getView2()">submit</button>
                        		</div>
                    		</div>                    		              		
                		</div>
                		<div class="row align-items-center justify-content-center v3" style="display:none;">
							<div class="col-md-12">
                        		<div class='form-group'>
                        			2.	Which of the following is an item of pest control checklist? Select all that apply
                        		</div>
                    		</div>
                    		<div class="col-md-12">
                        		<div class='form-group'>
                        			<input type="checkbox" style="margin-right: 10px; margin-left: 20px;" name="q2" class="" id="q21" value=0.25>a.	Inspection Date <br>

                        			<input type="checkbox" style="margin-right: 10px;margin-left: 20px;" name="q2" class="" id="q22" value=0.25>b. Actions required or comments observed <br>

                        			<input type="checkbox" style="margin-right: 10px;margin-left: 20px;" name="q2" class="" id="q23" value=0.25>c. Name of person doing the inspection <br>
                                    
                                    <input type="checkbox" style="margin-right: 10px;margin-left: 20px;" name="q2" class="" id="q24" value=0>d. Name of chemical used 

                        		</div>
                    		</div>
                    		<div class="col-md-4">
                        		<div class='form-group'>
                        			<button type="button" class="btn btn-success" onclick="getView3()">submit</button>
                        		</div>
                    		</div>                    		              		
                		</div>
                		<div class="row align-items-center justify-content-center v4" style="display:none;">
							<div class="col-md-12">
                        		<div class='form-group'>
                        			3.	Which of the following is used in insect control? Select all that apply
                        		</div>
                    		</div>
                    		<div class="col-md-12">
                        		<div class='form-group'>
                        			<input type="checkbox" style="margin-right: 10px; margin-left: 20px;" name="q3" class="" id="q31" value=0.5>a.	Insectocutors <br>

                        			<input type="checkbox" style="margin-right: 10px;margin-left: 20px;" name="q3" class="" id="q32" value=0.5>b. Fumigation <br>

                        			<input type="checkbox" style="margin-right: 10px;margin-left: 20px;" name="q3" class="" id="q33" value=0>c. Sticky Trap  <br>

                        			<input type="checkbox" style="margin-right: 10px;margin-left: 20px;" name="q3" class="" id="q34" value=0>d. Mechanical Trap 

                        		</div>
                    		</div>
                    		<div class="col-md-4">
                        		<div class='form-group'>
                        			<button type="button" class="btn btn-success" onclick="getView4()">submit</button>
                        		</div>
                    		</div>                    		              		
                		</div>
                		<div class="row align-items-center justify-content-center v5" style="display:none;">
							<div class="col-md-12">
                        		<div class='form-group'>
                        			4.	The type of bait/rodenticide need to be rotated to prevent pest from developing resistance. True/False
                        		</div>
                    		</div>
                    		<div class="col-md-12">
                        		<div class='form-group'>
                        			<input type="radio" style="margin-right: 10px; margin-left: 20px;" name="q4" class="" id="q41" value=1 onchange="getView5()">a. True <br>

                        			<input type="radio" style="margin-right: 10px; margin-left: 20px;" name="q4" class="" id="q42" value=0 onchange="getView5()">b. False
                        			
                        		</div>
                    		</div>                    		              		
                		</div>
                		<div class="row align-items-center justify-content-center v6" style="display:none;">
							<div class="col-md-12">
                        		<div class='form-group'>
                        			5.	Fumigation of specific area that may constitute pest infestation like Trench areas is performed bi-weekly. True/FaIse
                        		</div>
                    		</div>
                    		<div class="col-md-12">
                        		<div class='form-group'>
                        			<input type="radio" style="margin-right: 10px; margin-left: 20px;" name="q5" class="" id="q51" value=0 onchange="getView6()">a.	True <br>

                        			<input type="radio" style="margin-right: 10px; margin-left: 20px;" name="q5" class="" id="q52" value=1 onchange="getView6()">b.	False
                        			
                        		</div>
                    		</div>                    		              		
                		</div>
                		<div class="row align-items-center justify-content-center v7" style="display:none;">
							<div class="col-md-12">
                        		<div class='form-group'>
                        			6.	Which of the following is not applicable to fumigation process for the site?
                        		</div>
                    		</div>
                    		<div class="col-md-12">
                        		<div class='form-group'>
                        			<input type="radio" style="margin-right: 10px; margin-left: 20px;" name="q6" class="" id="q61" value=0 onchange="getView7()">a.	All pesticides used for fumigation should be approved. <br>

                        			<input type="radio" style="margin-right: 10px; margin-left: 20px;" name="q6" class="" id="q62" value=0 onchange="getView7()">b.	The chemicals used will be changed on monthly basis <br>

                        			<input type="radio" style="margin-right: 10px; margin-left: 20px;" name="q6" class="" id="q63" value=1 onchange="getView7()">c.	Production will not start until after a Minimum of two hour's time lag after fumigation has been completed <br>

                        			<input type="radio" style="margin-right: 10px; margin-left: 20px;" name="q6" class="" id="q64" value=0 onchange="getView7()">d.	Materials and Equipments should be well protected by covering with appropriate material before fumigation commences 
                        			
                        		</div>
                    		</div>                    		              		
                		</div>
                		<div class="row align-items-center justify-content-center v8" style="display:none;">
							<div class="col-md-12">
                        		<div class='form-group'>
                        			7.	All pest control devices need to be coded with unique identification numbers. True/False
                        		</div>
                    		</div>
                    		<div class="col-md-12">
                        		<div class='form-group'>
                        			<input type="radio" style="margin-right: 10px; margin-left: 20px;" name="q7" class="" id="q71" value=1 onchange="getView8()">a.	True <br>

                        			<input type="radio" style="margin-right: 10px;margin-left: 20px;" name="q7" class="" id="q72" value=0 onchange="getView8()">b.  False

                        		</div>
                    		</div>                    		              		
                		</div>
                		<div class="row align-items-center justify-content-center v9" style="display:none;">
							<div class="col-md-12">
                        		<div class='form-group'>
                        			8.	Caution sign are pasted on Insect catchers. True/False
                        		</div>
                    		</div>
                    		<div class="col-md-12">
                        		<div class='form-group'>
                        			<input type="radio" style="margin-right: 10px; margin-left: 20px;" name="q8" class="" id="q81" value=0 onchange="getView9()">a.	True <br>

                        			<input type="radio" style="margin-right: 10px;margin-left: 20px;" name="q8" class="" id="q83" value=1 onchange="getView9()">b.  False

                        		</div>
                    		</div>                    		              		
                		</div>
                		<div class="row align-items-center justify-content-center v10" style="display:none;">
							<div class="col-md-12">
                        		<div class='form-group'>
                        			9.	Which of the following is not true of pest control contractors? Select all that apply
                        		</div>
                    		</div>
                    		<div class="col-md-12">
                        		<div class='form-group'>
                        			<input type="checkbox" style="margin-right: 10px; margin-left: 20px;" name="q9" class="" id="q91" value=0.5>a. 	Pest Control Contractors must be available all the time <br>

                        			<input type="checkbox" style="margin-right: 10px;margin-left: 20px;" name="q9" class="" id="q92" value=0>b. Pest Control Contractors need to strictly adhere to schedule. <br>

                        			<input type="checkbox" style="margin-right: 10px;margin-left: 20px;" name="q9" class="" id="q93" value=0>c. Pest Control Contractors must give recommendations on outages observed <br>
                                    
                                    <input type="checkbox" style="margin-right: 10px;margin-left: 20px;" name="q9" class="" id="q94" value=0.5>d. Pest Control Contractors need not have certification 

                        		</div>
                    		</div>
                    		<div class="col-md-4">
                        		<div class='form-group'>
                        			<button type="button" class="btn btn-success" onclick="getView10()">submit</button>
                        		</div>
                    		</div>                    		              		
                		</div>
                		<div class="row align-items-center justify-content-center v11" style="display:none;">
							<div class="col-md-12">
                        		<div class='form-group'>
                        			10.	Which of the following statement is false?
 
                        		</div>
                    		</div>
                    		<div class="col-md-12">
                        		<div class='form-group'>
                        			<input type="radio" style="margin-right: 10px; margin-left: 20px;" name="q10" class="" id="q101" value=0 onchange="getView11()">a. All external doors must be kept closed when not in use. <br>

                        			<input type="radio" style="margin-right: 10px;margin-left: 20px;" name="q10" class="" id="q102" value=0 onchange="getView11()">b. Door closers or air curtains must be present on exterior doors <br>

                        			<input type="radio" style="margin-right: 10px;margin-left: 20px;" name="q10" class="" id="q103" value=0 onchange="getView11()">c. All windows will be fitted with fly screens or completely sealed. <br>

                        			<input type="radio" style="margin-right: 10px; margin-left: 20px;" name="q10" class="" id="q104" value=1 onchange="getView11()">d. Pest control service contractor does not require supervision 

                        		</div>
                    		</div>
                    		<div class="col-md-4">
                        		<div class='form-group'>
                        			<button type="button" class="btn btn-success" onclick="getResult('{{qid}}','{{pass_mark}}','{{tid}}')">Get Result</button>
                        		</div>
                    		</div>                    		              		
                		</div>              		       		
						
					</form>
				</div>
				
			</div>
			
		</div>
		
	</div>
	          
</div>

{% endblock %}

{% block tail %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script type="text/javascript">


function getView1()
{
	$('.v1').fadeOut('slow');
	$('.v2').fadeIn('slow');
}

function getView2()
{
	var checked = document.querySelectorAll('input[name="q1"]:checked');
	var count = document.querySelectorAll('input[name="q1"]:checked').length;

	if (count == 0)
	{
		alert('Please choose at least one option.');
		return false;
	}

	$('.v2').fadeOut('slow');

	var ans = 0;

	for (var x = 0; x < count; x++)
	{
		ans += parseFloat(checked[x].value);
	}		
	

	if (ans == 0.75)
	{
		Swal.fire({
                   	icon: 'success',
                    title: 'Correct!',                                         
                }).then(function(){
			                
							$('.v3').fadeIn('slow');

			            })
	} else
	{
		Swal.fire({
                   	icon: 'error',
                    title: 'Wrong Answer!',                                         
                }).then(function(){
			                
							$('.v3').fadeIn('slow');

			            })
	}

	
}

function getView3()
{
	var checked = document.querySelectorAll('input[name="q2"]:checked');
	var count = document.querySelectorAll('input[name="q2"]:checked').length;

	if (count == 0)
	{
		alert('Please choose at least one option.');
		return false;
	}

	$('.v3').fadeOut('slow');

	var ans = 0;

	for (var x = 0; x < count; x++)
	{
		ans += parseFloat(checked[x].value);
	}		
	

	if (ans == 0.75)
	{
		Swal.fire({
                   	icon: 'success',
                    title: 'Correct!',                                         
                }).then(function(){
			                
							$('.v4').fadeIn('slow');

			            })
	} else
	{
		Swal.fire({
                   	icon: 'error',
                    title: 'Wrong Answer!',                                         
                }).then(function(){
			                
							$('.v4').fadeIn('slow');

			            })
	}

	
}


function getView4()
{
	var checked = document.querySelectorAll('input[name="q3"]:checked');
	var count = document.querySelectorAll('input[name="q3"]:checked').length;

	if (count == 0)
	{
		alert('Please choose at least one option.');
		return false;
	}

	$('.v4').fadeOut('slow');

	var ans = 0;

	for (var x = 0; x < count; x++)
	{
		ans += parseFloat(checked[x].value);
	}		
	

	if (ans == 1)
	{
		Swal.fire({
                   	icon: 'success',
                    title: 'Correct!',                                         
                }).then(function(){
			                
							$('.v5').fadeIn('slow');

			            })
	} else
	{
		Swal.fire({
                   	icon: 'error',
                    title: 'Wrong Answer!',                                         
                }).then(function(){
			                
							$('.v5').fadeIn('slow');

			            })
	}

	
}

function getView5()
{
	$('.v5').fadeOut('slow');
	var ans = $("input[type='radio'][name='q4']:checked").val(); 

	if (ans == 1)
	{
		Swal.fire({
                   	icon: 'success',
                    title: 'Correct!',                                         
                }).then(function(){
			                
							$('.v6').fadeIn('slow');

			            })
	} else
	{
		Swal.fire({
                   	icon: 'error',
                    title: 'Wrong Answer!',                                         
                }).then(function(){
			                
							$('.v6').fadeIn('slow');

			            })
	}


}

function getView6()
{
	$('.v6').fadeOut('slow');
	var ans = $("input[type='radio'][name='q5']:checked").val(); 

	if (ans == 1)
	{
		Swal.fire({
                   	icon: 'success',
                    title: 'Correct!',                                         
                }).then(function(){
			                
							$('.v7').fadeIn('slow');

			            })
	} else
	{
		Swal.fire({
                   	icon: 'error',
                    title: 'Wrong Answer!',                                         
                }).then(function(){
			                
							$('.v7').fadeIn('slow');

			            })
	}
	
}

function getView7()
{
	$('.v7').fadeOut('slow');
	var ans = $("input[type='radio'][name='q6']:checked").val(); 

	if (ans == 1)
	{
		Swal.fire({
                   	icon: 'success',
                    title: 'Correct!',                                         
                }).then(function(){
			                
							$('.v8').fadeIn('slow');

			            })
	} else
	{
		Swal.fire({
                   	icon: 'error',
                    title: 'Wrong Answer!',                                         
                }).then(function(){
			                
							$('.v8').fadeIn('slow');

			            })
	}
	
}

function getView8()
{
	$('.v8').fadeOut('slow');
	var ans = $("input[type='radio'][name='q7']:checked").val(); 

	if (ans == 1)
	{
		Swal.fire({
                   	icon: 'success',
                    title: 'Correct!',                                         
                }).then(function(){
			                
							$('.v9').fadeIn('slow');

			            })
	} else
	{
		Swal.fire({
                   	icon: 'error',
                    title: 'Wrong Answer!',                                         
                }).then(function(){
			                
							$('.v9').fadeIn('slow');

			            })
	}
	
}

function getView9()
{
	$('.v9').fadeOut('slow');
	var ans = $("input[type='radio'][name='q8']:checked").val(); 

	if (ans == 1)
	{
		Swal.fire({
                   	icon: 'success',
                    title: 'Correct!',                                         
                }).then(function(){
			                
							$('.v10').fadeIn('slow');

			            })
	} else
	{
		Swal.fire({
                   	icon: 'error',
                    title: 'Wrong Answer!',                                         
                }).then(function(){
			                
							$('.v10').fadeIn('slow');

			            })
	}
	
}

function getView10()
{
	var checked = document.querySelectorAll('input[name="q9"]:checked');
	var count = document.querySelectorAll('input[name="q9"]:checked').length;

	if (count == 0)
	{
		alert('Please choose at least one option.');
		return false;
	}

	$('.v10').fadeOut('slow');

	var ans = 0;

	for (var x = 0; x < count; x++)
	{
		ans += parseFloat(checked[x].value);
	}		
	

	if (ans == 1)
	{
		Swal.fire({
                   	icon: 'success',
                    title: 'Correct!',                                         
                }).then(function(){
			                
							$('.v11').fadeIn('slow');

			            })
	} else
	{
		Swal.fire({
                   	icon: 'error',
                    title: 'Wrong Answer!',                                         
                }).then(function(){
			                
							$('.v11').fadeIn('slow');

			            })
	}

	
}


function getView11()
{
	//$('.v11').fadeOut('slow');
	var ans = $("input[type='radio'][name='q10']:checked").val(); 

	if (ans == 1)
	{
		Swal.fire({
                   	icon: 'success',
                    title: 'Correct!',                                         
                })
	} else
	{
		Swal.fire({
                   	icon: 'error',
                    title: 'Wrong Answer!',                                         
                })
	}
	
}

function getResult(id,mark,tid)
{	
	//check if the last question has been amswered//
	check = $("input[type='radio'][name='q10']").is(':checked');
	if (!check){alert('Please choose an option.'); return false;}

	triggerProcessing();
setTimeout(function(){
	//compute result
	var ans1 = getCheckboxValue('q1',0.75); 
	var ans2 = getCheckboxValue('q2',0.75);
	var ans3 = getCheckboxValue('q3',1);
	var ans4 = $("input[type='radio'][name='q4']:checked").val();
	var ans5 = $("input[type='radio'][name='q5']:checked").val();
	var ans6 = $("input[type='radio'][name='q6']:checked").val();
	var ans7 = $("input[type='radio'][name='q7']:checked").val();
	var ans8 = $("input[type='radio'][name='q8']:checked").val();
	var ans9 = getCheckboxValue('q9',1);
	var ans10 = $("input[type='radio'][name='q10']:checked").val();

	var ans11 = parseInt(ans1) + parseInt(ans2) + parseInt(ans3) + parseInt(ans4) + parseInt(ans5);
	var ans12 = parseInt(ans6) + parseInt(ans7) + parseInt(ans8) + parseInt(ans9) + parseInt(ans10);
	var ans = ans11 + ans12;
	var percent = (ans / 10) * 100;
	percent = percent.toFixed(2);

	//alert('You are doing well');
	//save result to database
	const update = {
						score:parseInt(percent),
						quizid:id,
						tid:tid,
					};

    const options = {
                    	method: 'POST',
                    	headers: {'Content-Type': 'application/json',},
                    	body: JSON.stringify(update),
                };

	fetch(`/e_learning?action=${'POST-RESULT'}`, options)
                    .then(function (response) {
                            return response.json();
                        }).then(function (text) {
                                
             if (percent >= parseInt(mark))
				{
					Swal.fire({
			                   	icon: 'success',
			                    title: 'Congratulations!',
			                    html: "<div class='alert alert-success'>You scored "+percent+"% <br>You have successfully completed this Course.</div>",
			                                                             
			                }).then(function(){

			                	setTimeout(function(){
			                		location.reload()
			                	},1000);

			                })
				} else
				{
					Swal.fire({
			                   	icon: 'error',
			                    title: 'Sorry!',
			                    html: "<div class='alert alert-danger'>You scored "+percent+"% <br>You did not meet the pass mark for this Course. Please go through the material again and attempt the quiz once more.</div>",
			                                                             
			                }).then(function(){

			                	setTimeout(function(){
			                		location.reload()
			                	},1000);

			                })
				}

				        })

},3000);	

	
}

function getCheckboxValue(name,base)
{
	var checked = document.querySelectorAll('input[name="'+name+'"]:checked');
	var count = document.querySelectorAll('input[name="'+name+'"]:checked').length;

	if (count == 0)
	{
		return parseInt(0);
	}

	var ans = 0;

	for (var x = 0; x < count; x++)
	{
		ans += parseFloat(checked[x].value);
	}

	if (ans < base)
	{
		return parseInt(0);
	} else
	{
		return parseInt(1);
	}

}
</script>

{% endblock %}
