{% extends 'public/base.html' %}



{% block content %}

<div class="container">
	<div class="row align-items-center justify-content-center">
		<div class="col-md-12">
								<div class="login100-form-logo text-center">									
									<div class="text-center" style="color:white;background: #179cd7;">CREATE EQUIPMENT</div>
								</div>
		</div>
		<div class="col-md-10 " style="backgound: red;">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-12">
					<form id="" style="margin-top:20px" method="POST" action="/machineview?action={{action}}&id={{id}}">
						{{ form.csrf_token }}
						<div class="row">
							<div class="col-md-12">
								<span class="login100-form-logo">
									<i class="fas fa-landscape"></i>
									<span style="color:black;background: white;">{{resp}}</span>
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
                        		<div class='form-group'>
                        			{{form.name.label()}}
                        			{{form.name(class='form-control')}}
                        		</div>
                    		</div>
                    		<div class="col-md-3">
                        		<div class='form-group'>
                        			{{form.line_number.label()}}
                        			{{form.line_number(class='form-control')}}
                        		</div>
                    		</div>
                    		<div class="col-md-3">
                        		<div class='form-group'>
                        			{{form.lane.label()}}
                        			{{form.lane(class='form-control')}}
                        		</div>
                    		</div>
                    		<div class="col-md-3">
                        		<div class='form-group'>
                        			{{form.mcode.label()}}
                        			{{form.mcode(class='form-control')}}
                        		</div>
                    		</div>                    		
                		</div>               		
						<div class="row align-items-center justify-content-center">   
                    		
                    		<div class="col-md-6">                    
                        		<div class='form-group'>
                            		{{form.submit(class="btn btn-info")}}  
                        		</div>
                    		</div>
						</div>
					</form>
				</div>
				
			</div>
		</div>
		
	</div>
	{% if codes %}
	<div class="col-md-12">
								<hr style="border: 2px #0074CC solid">
		</div>
	<div class="row text-center">
                    
                    <div class="col-md-12">
                        <hr/><h3 style="background:#179cd7">Registered EQUIPMENT</h3><hr/>
                        
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>               
                                        <th scope="col">Name</th>
                                        <th scope="col">Lane</th>
                                        <th scope="col">Line</th>
                                        <th scope="col">Code</th> 
                                        <th scope="col">
                                        Product Parameters
                                        <button type="button" class="btn btn-sm btn-info" onclick="addParam()" style="color:#fff;font-size:10px"> ADD Parameter</button>
                                    	</th>                                        
                                        <th scope="col">Actions</th>
                                                                                
                                    </tr>
                                </thead>
                                <tbody>
                                {% for  code in codes %}
                                    <tr>
                                                <td>{{code.name}}</td>
                                                <td>{{code.lane}}</td>
                                                <td>{{code.line_number}}</td>
                                                <td>{{code.m_code}}</td>
                                                <td>
                                                {%if code.product_params and code.product_params!="[]" %}                                                	
                                                	<button type="button" class="btn-sm btn-success" data-mcode="{{code.m_code}}" data-params="{{code.product_params}}" style="color:#fff;cursor: pointer; font-size:11px" onclick="viewParams(this)"> View Product Params</button>
                                                	
                                                {% endif%}                                                
                                            	</td>
                                                <td>	
                                                   		<div class="btn btn-sm" style="font-size: 11px;color: #179cd7;" onclick="deletemachine('{{code.mid}}')">DELETE MACHINE</div>
                                                   		<div class="btn btn-sm" style="font-size: 11px;color: #179cd7;" onclick="editmachine('{{code.mid}}')">EDIT INFO</div>
                                                </td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>                        
                    </div>
                </div>
	
    {% endif %} 
</div>

{% endblock %}

{% block tail %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script type="text/javascript">
	
function deletemachine(id){
  
  Swal.fire({
        title: 'Are you sure you wan to delete this Item?',        
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, proceed'
      }).then((result) => {
        if (result.value) {

        	const update = {itemid: id,};

			const options = {
								method: 'POST',
								headers: {'Content-Type': 'application/json',},
								body: JSON.stringify(update),
							};
          
            fetch(`/machineview?action=${'DELETE'}`,options)
                    .then(function (response) {
                            return response.json();
                        }).then(function (text) {
                                
                                if (text.status==1){
                                	Swal.fire({
                        			icon: 'success',
                        			title: 'Success',
                        			text: text.message,
                     
                      				}).then((value) => {
										setTimeout(location.reload(), 3000);
									});
                                }else{
                                	Swal.fire({
                        				icon: 'error',
                        				title: 'Error',
                        				text: text.message,                     
                      				})
                                }
                                

                            });
         
            
            
        }
      })
}

function editmachine(id){

	location.href='/machineview?action=EDIT&id='+id;
}


            		

function addParam(){


	const update = {itemid: 'id',};

			const options = {
								method: 'POST',
								headers: {'Content-Type': 'application/json',},
								body: JSON.stringify(update),
							};
          
            fetch(`/machineview?action=${'FETCH-DATA'}`,options)
                    .then(function (response) {
                            return response.json();
                        }).then(function (text) {
                                
                                var machine_option=text.machine;
                                var sku_option=text.sku;                               

                            

	var html ="";
	html +='<div class="row align-items-center justify-content-center">';

	html +='<div class="col-md-12">'; ///Heading begins

	html +='<div class="login100-form-logo text-center">';
	html +='<div class="text-center" style="color:white;background: #179cd7;">ADD PRODUCTION PARAMETER</div>';
	html +='</div>';

	html +='</div>'; ///heading ends

	html +='<div class="col-md-10 " style="backgound: red;"><div class="row align-items-center justify-content-center"><div class="col-md-12">'; ///form divs begin

	html +='<form id="" style="margin-top:20px" method="POST" action="">';
	///form contents begin

	html +='<div class="row">';
	html +='<div class="col-md-6"><div class="form-group">';
	html +='<label>Select Product Code</label><select class="form-control" id="sku">'+sku_option+'</select>';
	html +='</div></div>';
	

	html +='<div class="col-md-6"><div class="form-group">';
	html +='<label>Machine Speed</label><input type="number" class="form-control" id="speed"/>';
	html +='</div></div>';	
	html +='</div>';


	html +='<div class="row">';
	html +='<div class="col-md-8"><div class="form-group">';
	html +='<label>Select Machines</label><select class="form-control select2-multiple" id="machine" multiple data-live-search="true">'+machine_option+'</select>';
	html +='</div></div>';
	html +='</div>';


	html +='<div class="row">';

	html +='<div class="col-md-6"><div class="form-group">';
	html +='<label>Bags per case/carton</label><input type="number" class="form-control" id="bpc"/>';
	html +='</div></div>';
	html +='<div class="col-md-6"><div class="form-group">';
	html +='<label>Cases/Cartons per Pallet</label><input type="number" class="form-control" id="cpp"/>';
	html +='</div></div>';
	html +='</div>';

	html +='<div class="row">';
	html +='<div class="col-md-3"><div class="form-group">';
	html +='<input type="button" class="btn btn-info" value="Add Parameter" onclick="addproductionparam()" />';
	html +='</div></div>';	
	html +='</div>';
	///form content end 
	html +='</form>';

	html +='</div></div></div>'; //form divs end

	html +='</div>';

	$("#ajaxlargeModalBody").html(html);

	$("#ajaxlarge").modal();

	});
}

function addproductionparam(){
	triggerProcessing();
	
	$("#ajaxlarge").modal("hide");

	var machine = $("#machine").val();
	var sku = $("#sku").val();
	var bpc = $("#bpc").val();	
	var cpp = $("#cpp").val();
	var speed = $("#speed").val();

	if (machine && sku && bpc && cpp && speed){

		const update = {machines: machine,sku:sku,bpc:bpc,cpp:cpp,speed:speed,};

			const options = {
								method: 'POST',
								headers: {'Content-Type': 'application/json',},
								body: JSON.stringify(update),
							};
          
            fetch(`/machineview?action=${'ADD-PARAMS'}`,options)
                    .then(function (response) {
                            return response.json();
                        }).then(function (text) {
                                
                                if (text.status==1){

                                	
                                	Swal.fire({
                        			icon: 'success',
                        			title: 'Success',
                        			html: text.message,
                     
                      				}).then((value) => {
										setTimeout(location.reload(), 3000);
									});
                                }else{
                                	Swal.fire({
                        				icon: 'error',
                        				title: 'Error',
                        				html: text.message,                     
                      				})
                                }
                                

                            });

	}else{

		Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'All fields are required.',                     
              	})
	}

}

function viewParams(paras){

	var mcode = $(paras).attr('data-mcode');
	var dat = $(paras).attr('data-params');
	var data = JSON.parse(dat);                    

	html='';

	html +='<div class="table-responsive">';
	html +='<table class="table table-bordered table-striped">';

	html +='<thead>';
	html +='<tr>';
	html +='<th>SKU</th>';
	html +='<th>SPEED</th>';
	html +='<th>BPC</th>';	
	html +='<th>CPP</th>';
	html +='<th>ACTION</th>';	
	html +='</tr>';
	html +='</thead>';

	html +='<tbody>';
	for (var i=0; i<data.length;i++){
	html +='<tr>';
	html +='<td>'+data[i].sku_name+'</td>';
	html +='<td>'+data[i].speed+'</td>';
	html +='<td>'+data[i].bpc+'</td>';	
	html +='<td>'+data[i].cpp+'</td>';
	html +='<td><span class="btn-sm btn-success" data-mcode="'+mcode+'" data-sku="'+data[i].sku+'" style="color:#fff;cursor: pointer; font-size:11px" onclick="deleteParam(this)">Delete</span></td>';
	html +='</tr>';
	}

	html +='</tbody>';	

	html +='</table>';
	html +='</div>';

	$("#ajaxlargeModalBody").html(html);

	$("#ajaxlarge").modal();



}

function deleteParam(sele){

	var sku =$(sele).attr('data-sku');
	var machine=$(sele).attr('data-mcode');

	Swal.fire({
        title: 'Are you sure you wan to delete this Item?',        
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, proceed'
      }).then((result) => {
        if (result.value) {

        	const update = {sku: sku, mcode:machine,};

			const options = {
								method: 'POST',
								headers: {'Content-Type': 'application/json',},
								body: JSON.stringify(update),
							};
          
            fetch(`/machineview?action=${'DELETE-PARAM'}`,options)
                    .then(function (response) {
                            return response.json();
                        }).then(function (text) {
                                
                                if (text.status==1){
                                	Swal.fire({
                        			icon: 'success',
                        			title: 'Success',
                        			html: text.message,
                     
                      				}).then((value) => {
										setTimeout(location.reload(), 3000);
									});
                                }else{
                                	Swal.fire({
                        				icon: 'error',
                        				title: 'Error',
                        				html: text.message,                     
                      				})
                                }
                                

                            });
         
            
            
        }
      })
}

</script>

{% endblock %}

